<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ETL Project</title>
</head>
<body>
  <h1>Welcome to our ETL Project </h1>  
  <h3>By: John Fowler, Carlos Cocuy, Rebeca Rodriguez</h3>
  <p>This was a project for our bootcamp where we had to Extract, Transform and Load data.</p>
  <p>Here are our links to our ETL Datasets</p> 
    <ul>
        <li>
            <a href="/car_details">
            Car Details</a>
        </li>
        <li>
            <a href="/car_sales">
            Car Sales</a>
        </li>
        <li>
            <a href="/manufacturer">
            Manufacturer Details</a>
        </li>
        <li>
            Traffic stops
        </li>
        <li>
            Gender demographic
        </li>
    </ul>

  <p>Here is our ETL Conclusions</p>
</body>
</html>